body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
footer {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
.footer-icons a {
    color: #fff;
    margin: 0 15px;
    font-size: 30px;
    transition: color 0.3s ease;
}
.footer-icons a:hover {
    color: #0d6efd; /* Cor ao passar o mouse */
}
.footer-text {
    margin-top: 10px;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }